/* Header */

.header {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.header__title {
  font-size: 2rem;
}

/* Search Form */

.search-form {
  display: flex;
  justify-content: center;
}
.search-form__input {
  padding: 1rem 0.5rem;
  width: 40%;
  font-size: 1rem;
  outline: none;
}
.search-form__button {
  padding: 0.5rem 1.5rem;
  outline: none;
  font-size: 1rem;
}

/* Track List */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  align-self: flex-start;
  padding: 1.5rem;
  font-size: 1.25rem;
}

.main__list {
  text-decoration: none;
}

.main__list__item {
  text-decoration: none;
  border-bottom-width: 1;
  border-color: #eee;
  padding: 2px;
  margin: 1px;
}

.main__list__item:hover {
  background-color: #d3d3d3;
}

/* Track Card */

.trackcard {
  padding-left: 1rem;
  width: 600px;
}

.content {
  margin-left: 1rem;
  padding: 15;
}

.content__link {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Verdana";
}

/*lyrics */

.lyrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}

.lyrics__text {
  white-space: pre-wrap;
}
